
        

        
<div class="content">
  <div class="hr_1"></div>
  <h1>
    입소대상
  </h1>
  <div>
    치매,중풍 등 노인성질환으로<br>
    장기요양등급 1~5등급중 시설급여를 받으신 어르신
  </div>
  <div class="hr_1"></div>
  <h1>
    입소인원
  </h1>
  <div>
    정원 99명<br>
    2층:12명, 3층:21명, 4층:22명, 5층:22명, 6층:22명
  </div>
  <div class="hr_1"></div>
  <h1>
    입소절차
  </h1>
  <div>
    1.입소신청--&gt; 2.입소대기 --&gt; 3.입소상담 --&gt; 4.입소계약 --&gt; 5.입소
  </div>
  <div class="hr_1"></div>
  <h1>
    구비서류
  </h1>
  <div>
    1.장기요양 인정서<br>
    2.표준장기요양 이용계획서<br>
    3.건강진단서(법정 전염성 유무- 결핵, B형간염 등)<br>
    4.의사소견서<br>
    5.처방전(복용중인 약에 대한 정보 또는 처방전)<br>
    6.주민등록증(입소자, 보호자)<br>
    7.주민등록등본(보호자 기준)<br>
    8.가족관계증명서(어르신 기준 상세 증명서)<br>
    9.연계기록지 (타기관 입소시)<br>
    10.코로나검사결과지
  </div>
  <div class="hr_1"></div>
  <h1>
    입소준비물
  </h1>
  <div>
    1.일상복(상,하)3벌이상<br>
    2.외투 또는 겉옷,속옷 3벌이상<br>
    3.신발(실내용,실외용),양말<br>
    4.면도기(남성 어르신은 필수),개인용품등<br>
    5.복용중인 약,보조용품(휠체어,욕창메트리스등),틀니<br>
    * 개인의류나 지참물은 지워지지않도록 이름을 부착해 주세요(명찰부착)<br>
    * 현금 또는 귀중품은 가져오지 않는것을 원칙으로함</div>
</div>

      

      