<div class="content">
  <div class="hr_2"></div>
  <div class="ch">[ 4인실 ]</div>
  <div class="info_img"><img src="image/ipso/ibsobi.png" alt=""></div>
  <div class="hr_2"></div>
  <div class="ch">[ 1,2인실 ]</div>
  <table>
    <tr>
      <td rowspan="2">등급</td>
      <td rowspan="2">등급비용(1일)</td>
      <td colspan="2">본인부담(월금액)</td>
      <td colspan="2">비급여</td>
      <td colspan="2">총금액</td>
    </tr>
    <tr>
      <td>일반(20%)</td>
      <td>경감(10%)</td>
      <td>식대/간식</td>
      <td>상급병실</td>
      <td>일반</td>
      <td>경감</td>
    </tr>
    <tr>
      <td colspan="8">1,2인실은 사무실에 문의하여 주시기 바랍니다.</td>
    </tr>
  </table>
</div>