<div class="hr_1"></div>
<div class="content">
  <div id="status_show">
    <img src="" alt="">
    <div></div>
  </div>
  <div id="status_item"></div>
  <script>
    const showBox = document.querySelector('#status_show');
    const itemBox = document.querySelector('#status_item');
    (async function () {
      let response = await fetch('/api/get_gall');
      let data = await response.json();
      for (let i in data) {
        if (typeof data[i] == "object") {
          for (let j in data[i]) {
            addImgBox(i,data[i][j]);
          }
        } else {
          addImgBox(i,data[i]);
        }
      }
    })();
    (async function () {
      let response = await fetch('/api/get_status');
      let data = await response.json();
      for (let i in data) {
        if (typeof data[i] == "object") {
          for (let j in data[i]) {
            addImgBox(i,data[i][j]);
          }
        } else {
          addImgBox(i,data[i]);
        }
      }
    })();
    function addImgBox(name,src) {
      const img = document.createElement('img');
      itemBox.appendChild(img);
      img.className = name;
      img.src = 'image/Spac/'+src;
      img.onclick = () => {
        showBox.querySelector('img').src='image/Spac/'+src;
        showBox.querySelector('div').innerText = name;
        showBox.style.height = showBox.querySelector('img').clientHeight + 'px';
      }
      if (name=='2인실') {
        img.click();
        showBox.style.height = '398px';
      }
    }
  </script>
</div>