<div class="content"></div>
<div id="vol_input">
  <form id="v_form" action="" method="post">
    <label for="v_name">
      <div>이름</div>
    </label>
    <div><input type="text" name="v_name" id="v_name" size="12" maxlength="90"></div>
    <label>
      <div>연락처</div>
    </label>
    <div><input type="text" name="v_phone" id="v_phone" size="15" maxlength="90"></div>
    <label>
      <div>제목</div>
    </label>
    <div><input type="text" name="v_title" id="v_title" size="40" maxlength="70"></div>
    <label>
      <div>내용</div>
    </label>
    <div><textarea name="v_body" id="v_body" cols="70" rows="4"></textarea></div>
    <label>
      <div>메일</div>
    </label>
    <div><input type="email" name="v_mail" id="v_mail" size="50" maxlength="90"></div>
    <div><input id="v_submit" type="reset" value="확인"></div>
  </form>
</div>
<script>
  let link = document.createElement('link');
  document.head.appendChild(link);
  link.rel = 'stylesheet';
  link.type = 'text/css';
  link.href = 'css/custom.css';

  document.querySelector('#v_submit').addEventListener('click', (e) => {

      let body = {};

      body.name = document.getElementById('v_name').value;
      body.phone = document.getElementById('v_phone').value;
      body.title = document.getElementById('v_title').value;
      body.body = document.getElementById('v_body').value;
      body.mail = document.getElementById('v_mail').value;

      (async function () {
        console.log(body)
        let response = await fetch('/api/create_volunteer', {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(body),
        });
        let rs = await response.json();
        if (rs.rs == 'ok') {
          alert('전송완료')
        } else {
          alert('전송실패')
          e.preventDefault();
        }
      })();
    })





  let data = [
    {
      "자원봉사 안내및 신청": {
        "어르신 일상생활보조": ["어르신 식사수발", "어르신 침실및 거실청소수발", "산책,말벗 등"],
        "노력봉사": ["시설주변청소,조경관리,잡초제거 등", "계단청소", "어르신 의류수선,미싱 등", "안내데스크"],
        "프로그램진행보조": ["프로그램실 및 물리치료작업치료실 어르신 이동", "나들이 동행"],
        "식당봉사": ["주방식재료,잔처리보조", "식기세척", "주방청소"],
        "전문봉사": ["이미용서비스", "전문프로그램 계획및 진행평가", "연극및 공연"]
      }
    },
    {
      "자원봉사자 활동과정": {
        "봉사활동문의": ["회원가입(VMS)"],
        "자원봉사자 상담접수": ["홈페이지 신청후 일주일내 유선연락", "방문접수,전화접수"],
        "봉사자교육배치": ["기관및 자원봉사자", "O.T/봉사자의특성및 기관의현황을 고려하여배치"],
        "자원봉사활동": ["배치된장소에서 나눔실천"],
        "평가": ["매회 활동일지작성,봉사활동확인서발급"]
      }
    },
    { "온라인 자원봉사신청": {} }
  ];
  for (let i in data) {
    for (let title in data[i]) {
      let table = document.createElement('table');
      let tbody = document.createElement('tbody');
      table.appendChild(tbody);
      let tr = document.createElement('tr');
      tbody.appendChild(tr);
      let th = document.createElement('th');
      tr.appendChild(th);
      th.innerText = `[ ${title} ]`;
      th.colSpan = 2;
      for (let list in data[i][title]) {
        let list_tr = document.createElement('tr');
        tbody.appendChild(list_tr);
        let list_td = document.createElement('td');
        list_tr.appendChild(list_td);
        list_td.rowSpan = data[i][title][list].length;
        list_td.innerText = list;
        let num = 0;
        for (let detail of data[i][title][list]) {
          let detail_td = document.createElement('td');
          if (num++ == 0) {
            list_tr.appendChild(detail_td);
          } else {
            let detail_tr = document.createElement('tr');
            tbody.appendChild(detail_tr);
            detail_tr.appendChild(detail_td);
          }
          detail_td.innerText = detail;
        }
      }
      document.querySelector('.content').appendChild(table);
      table.className = 'vol_table'
    }
  }

  const inputbox = document.querySelector('#vol_input');
  const tr = document.createElement('tr');
  const td = document.createElement('td');
  td.appendChild(inputbox);
  tr.appendChild(td);
  document.querySelector('.vol_table:last-child>tbody').appendChild(tr);
</script>