<div class="container">
  <div id="content">
    <div class="grid_container">
      <a href="/info2" class="grid_item1">
        <h3>입소안내</h3>
        <p>서울숲요양원은 따뜻한 손길로<br />어르신들을 맞이합니다.</p>
        <img src="image/main/ban01.png" alt="">
      </a>
      <a href="/volunteer" class="grid_item2">
        <div id="circle">
          <h3>자원봉사안내</h3>
        </div>
        <img src="image/main/ban02.png" alt="">
      </a>
      <a href="/service" class="grid_item3">
        <h3>서비스안내</h3>
        <p>서울숲요양원만의 케어서비스를 <br />소개해드립니다.</p>
        <img src="image/main/ban03.png" alt="">
      </a>
      <div class="grid_item4">
        <a href="/notice">
          <img src="image/main/ic_01.png" alt="">
          <span>공지사항</span>
        </a>
        <a href="/custom">
          <img src="image/main/ic_02.png" alt="">
          <span>고객센터</span>
        </a>
        <a href="/dataroom">
          <img src="image/main/ic_03.png" alt="">
          <span>자료실</span>
        </a>
      </div>
      <a href="/map" class="grid_item5">
        <h3>오시는길</h3>
        <p>서울시 관악구 난향7길68</p>
        <img src="image/main/ban04.png" alt="">
      </a>
      <div class="grid_item6">
        <a href="">숲갤러리</a>
        <a href="">시설갤러리</a>
        <a href="">행사/활동갤러리</a>
        <a href=""></a>
      </div>
      <a class="grid_item7">
        <h3>문의전화</h3>
        <p>궁금한 사항은 언제든지 전화주세요</p>
        <img src="image/main/ban07.png" alt="">
        <div class="cs_area tel">
          <img src="image/main/ic_cs01.png" alt="">
          <p>TEL</p>
          <h3>02-858-4501</h3>
        </div>
        <div class="cs_area fax">
          <img src="image/main/ic_cs02.png" alt="">
          <p>FAX</p>
          <h3>02-858-4502</h3>
        </div>
      </a>
    </div>
  </div>
</div>