<div class="content">
  <div class="act_gall_box">

  </div>
  <div class="act_gall_page_navbox">

  </div>
  <script>
    (function () {
      // let box = document.querySelector('.sub_textbox');
      // box.classList.remove('sub_textbox');
      // box.classList.add('sub_gallbox');
      let target = 'dataroom';
      let link = document.createElement('link');
      document.querySelector('.content').appendChild(link);
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = 'css/admin_gall1.css';

      let qs = new URLSearchParams(location.search);
      let page = qs.get('pages') || 1;

      makePage(page,target);



      async function makePage(p, t) {
        console.log(t,p,'--')
        let response = await fetch('/api/get_'+t+'/page/' + p);
        let rs = await response.json();
        console.log(rs)
        makePageNav(p, rs.maxPage)
        pushData(rs.data)
      };

      function pushData(data) {
        let gridBox = document.querySelector('.act_gall_box');
        gridBox.replaceChildren()

        let btn_div = document.createElement('div');
        gridBox.appendChild(btn_div);

        btn_div.classList.add('btn_div');
        btn_div.innerHTML = `
        <div><input type="button" value="글쓰기" id="write_btn"></div>
        `;

        document.getElementById('write_btn').onclick = ()=>{
          location.href = '/admin?page=write&target='+target;
        }
        
        let title_div = document.createElement('div');
        gridBox.appendChild(title_div);

        title_div.classList.add('box_class');
        title_div.innerHTML = `
        <div>
            글번호
          </div>
          <div>
            제목
          </div>
          <div>
            날자
          </div>
          <div>
            글쓴이
          </div>
          <div>
            기타
          </div> 
        `;

        data.forEach(p => {
          let div = document.createElement('div');
          gridBox.appendChild(div);
          
          div.innerHTML = `
          <div class="d_d_num">
            ${p.id/1+1}
          </div>
          <div class="d_title">
            ${p.title}
          </div>
          <div class="d_date">
            ${p.date}
          </div>
          <div class="d_writer">
            ${p.name||'관리자'}
          </div>
          <div class="new">
            New!
          </div>
          `;

          
        })
      }


      function makePageNav(page, maxPage) {
        let pageNav = document.querySelector('.act_gall_page_navbox');
        pageNav.replaceChildren()

        let pageStart = Math.floor((page - 1) / 10) * 10 + 1;
        let pageEnd = maxPage <= (pageStart + 9) ? maxPage : (pageStart + 9);
        let navBox = document.createElement('div');
        pageNav.appendChild(navBox);
        for (let i = pageStart; i <= pageEnd; i++) {
          let nav = document.createElement('a');
          navBox.appendChild(nav);
          nav.classList.add('page_nav')
          nav.innerText = i;
          if (i == page) {
            nav.classList.add('active');
          }
          nav.href = '/admin?page='+target+'&pages=' + i;
          nav.onclick = (e) => {
            e.preventDefault();
            makePage(i,target);
          }
        }
        if (pageStart > 1) {
          let left = document.createElement('a');
          navBox.appendChild(left);
          left.classList.add('page_nav_left')
          left.innerText = "<<";
          left.href = '/admin?page='+target+'&pages=' + (pageStart - 1);
          left.onclick = (e) => {
            e.preventDefault();
            makePage((pageStart - 1),target);
          }
        }
        if (pageEnd < maxPage) {
          let right = document.createElement('a');
          navBox.appendChild(right);
          right.classList.add('page_nav_right')
          right.innerText = ">>";
          right.href = '/admin?page='+target+'&pages=' + (pageEnd + 1);
          right.onclick = (e) => {
            e.preventDefault();
            makePage((pageEnd + 1),target);
          }
        }
      }
    })()

  </script>
</div>